# Simple Example

In [1]:
ls examples/ral-books

Books_be.mdb  Books.mdb  BooksReadme.txt

In [15]:
mdb-tables -1 examples/ral-books/Books_be.mdb

Authors
Books

In [3]:
mdb-export examples/ral-books/Books_be.mdb Authors

AuID,Author,Sequence,Current
1,"Carlson, Roger",,1
2,"Clancy, Tom",,1
3,"Shakespeare, William",,1

In [4]:
mdb-export examples/ral-books/Books_be.mdb Books

BookID,Author,Title,DatePublished,Comments,LastRead
12,1,"Tony DeSoto and the Crystal Egg","07/01/01 00:00:00","Very good","06/22/01 00:00:00"
13,2,"Hunt for Red October","01/01/95 00:00:00","fair","06/22/01 00:00:00"
14,3,"A Mid-Summer Nights Dream","06/06/95 00:00:00","a little dated","06/22/01 00:00:00"
15,1,"The Girl Who Would Be Wizard","09/01/01 00:00:00","unknown","06/25/01 00:00:00"
16,2,"Patriot Games","01/01/97 00:00:00","Not as good as Red October, but readable","06/25/01 00:00:00"

In [10]:
mdb-prop examples/ral-books/Books_be.mdb Books

name: (none)
	OrderByOn: no

name: Title
	ColumnWidth: -1
	ColumnOrder: 0
	Required: no
	ColumnHidden: no
	AllowZeroLength: no
	DisplayControl: 109

name: DatePublished
	ColumnWidth: 1530
	ColumnOrder: 0
	Required: no
	ColumnHidden: no

name: Author
	DecimalPlaces: 255
	ColumnWidth: -1
	ColumnOrder: 0
	Required: no
	ColumnHidden: no
	Description: foreign key
	DisplayControl: 109

name: Comments
	ColumnWidth: -1
	ColumnOrder: 0
	Required: no
	ColumnHidden: no
	AllowZeroLength: no
	DisplayControl: 109

name: BookID
	ColumnWidth: -1
	ColumnOrder: 0
	ColumnHidden: no

name: LastRead
	ColumnWidth: -1
	ColumnOrder: 0
	DefaultValue: Date()
	ColumnHidden: no
	Required: no

In [13]:
mdb-schema examples/ral-books/Books_be.mdb sqlite

-- ----------------------------------------------------------
-- MDB Tools - A library for reading MS Access database files
-- Copyright (C) 2000-2011 Brian Bruns and others.
-- Files in libmdb are licensed under LGPL and the utilities under
-- the GPL, see COPYING.LIB and COPYING files respectively.
-- Check out http://mdbtools.sourceforge.net
-- ----------------------------------------------------------

-- That file uses encoding UTF-8

CREATE TABLE `Authors`
 (
	`AuID`			INTEGER,
	`Author`			varchar,
	`Sequence`			INTEGER,
	`Current`			INTEGER
);

CREATE TABLE `Books`
 (
	`BookID`			INTEGER,
	`Author`			INTEGER,
	`Title`			varchar,
	`DatePublished`			DateTime,
	`Comments`			varchar,
	`LastRead`			DateTime
);


-- CREATE Relationships ...
ALTER TABLE `Books` ADD CONSTRAINT `Books_Author_fk` FOREIGN KEY (`Author`) REFERENCES `Authors`(`AuID`) ON UPDATE CASCADE;